// Main colors for site
$bg-color: #192024;
// $bg-color: #d7d3cb;
$footer-bg-color: #111518;
$text-color: #f5f5f5;
// $text-color: #192024;
// $accent1: #e15511;
$accent1: #ffa478;
$accent2: #d0d8dd;
$accent3: #212b30;
