@forward "reset";
@use "../globals/colors";

/*
Legacy way of creating CSS variables
*/

// :root {
// 	--heading-font: "Syne", "Montserrat", "Gill Sans", "Gill Sans MT", sans-serif;
// 	--paragraph-font: "Montserrat", "Gill Sans", "Gill Sans MT", sans-serif;
// }

$paragraph-font: "Montserrat", "Gill Sans", "Gill Sans MT", sans-serif;
$h1-spacing: -0.2rem;
$h2-spacing: -0.025rem;
$fancy-font: "Attractype", "Syne", "Montserrat", "Gills Sans", sans-serif;
$heading-font: "Syne", "Montserrat", "Gill Sans", "Gill Sans MT", sans-serif;

h1,
h2 {
	font-family: $heading-font;
	margin: 0;
	color: colors.$text-color;
	line-height: 100%;

	@media (max-width: 1439px) {
		h1 {
			// font-size: 2rem;
			line-height: 110%;
		}

		h3 {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
	}
}

// Original
// h1 {
// 	font-size: 4rem;
// }

h1 {
	font-size: 4rem;
	line-height: 100%;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: -0.1rem;

	@media (min-width: 62.5rem) {
		h1 {
			letter-spacing: -0.1rem;
		}
	}
}

.secondary {
	filter: opacity(0.85);
	color: colors.$accent2;
}

h2 {
	font-size: 2.75rem;
	margin-bottom: 2rem;
	font-weight: 500;
	letter-spacing: $h2-spacing;
}

.projects__subtitle {
	font-size: 2rem;
}

h2::after {
	content: ".";
}

h3 {
	margin: 0;
	font-weight: 500;
	line-height: 140%;
	font-size: 2rem;
	color: colors.$accent2;
	font-family: $paragraph-font;
	letter-spacing: -0.05rem;
}

.footer-h3 {
	font-size: 1.75rem;
	line-height: 2.5rem;

	@media (max-width: 62.5rem) {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

p,
.about-link-txt {
	margin-top: 0;
	font-family: $paragraph-font;
	font-size: 1.12rem;
	font-weight: 400;
	color: colors.$text-color;
	line-height: 1.75rem;
	margin-bottom: 2rem;
}

.about-link-txt {
	font-weight: bold;
}

small {
	font-family: $paragraph-font;
	color: colors.$accent2;
	font-weight: 500;
	line-height: 1.25rem;
}

@media (max-width: 768px) {
	h2 {
		font-size: 2rem;
	}

	.projects__subtitle {
		font-size: 1.5rem;
	}

	.footer-h2 {
		margin-bottom: 1rem;
	}

	h3 {
		font-size: 1.1rem;
	}

	p,
	.about-link-txt {
		font-size: 1rem;
	}
}

@media (max-width: 296px) {
	h2 {
		font-size: 0.85rem;
	}
}

a,
a:visited,
a:active {
	text-decoration: none;
	font-family: $paragraph-font;
	font-size: 1rem;
	font-weight: 600;
	text-transform: initial;
	color: colors.$text-color;
	transition: all 100ms ease-in-out;
}

button,
.resume-btn {
	font-family: $paragraph-font;
	border: none;
	padding: 0.75rem 2.25rem;
	border-radius: 25px;
	font-weight: 600;
	text-transform: initial;
	font-size: 1rem;
	transition: all 100ms ease-in-out;
	box-shadow: 0px 10px 35px rgba(225, 85, 17, 0.25);
}

.resume-btn {
	color: colors.$bg-color !important;
}

a:hover,
button:hover {
	color: colors.$accent2;
	cursor: pointer;
}

button:hover,
.resume-btn:hover {
	padding: 0.75rem 3rem;
}

.open-btn {
	background: transparent;
	border: 3px solid colors.$text-color;
	color: colors.$text-color;
	box-shadow: none;
	text-transform: initial;
}

.open-btn:hover {
	border: 3px solid colors.$accent2;
}

.orange-txt {
	font-weight: 800;
	color: colors.$accent1;
}
